@import "tailwindcss";
.shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  transform: translateX(-100%);
  animation: shimmerMove 1.5s infinite;
}

@keyframes shimmerMove {
  100% {
    transform: translateX(100%);
  }
}

/* grid deatails */
@keyframes shimmerX {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmerX {
  animation: shimmerX 1.5s infinite;
}

@keyframes fadeInX {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInX {
  animation: fadeInX 0.5s ease forwards;
}
